# ignore dotfiles backups and caches
backups/
caches/

# ignore secret files and directories
.private
.secrets
.ssh/authorized_keys
.ssh/id_*
.ssh/known_hosts

# ignore vim netrw hist file generated when navigating dirs
.netrwhist

# ignore dotfiles/bin/dotfiles (symmlink created in dotfiles script)
bin/dotfiles
